<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

	
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CustomerLogin</servlet-name>
<servlet-class>CustomerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CustomerLogin</servlet-name>
<url-pattern>/CustomerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CustomerRegister</servlet-name>
<servlet-class>CustomerRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CustomerRegister</servlet-name>
<url-pattern>/CustomerRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FarmerLogin</servlet-name>
<servlet-class>FarmerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FarmerLogin</servlet-name>
<url-pattern>/FarmerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAddFarmer</servlet-name>
<servlet-class>AdminAddFarmer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminAddFarmer</servlet-name>
<url-pattern>/AdminAddFarmer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditFarmer</servlet-name>
<servlet-class>EditFarmer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EditFarmer</servlet-name>
<url-pattern>/EditFarmer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditFarmer1</servlet-name>
<servlet-class>EditFarmer1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EditFarmer1</servlet-name>
<url-pattern>/EditFarmer1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveFarmer</servlet-name>
<servlet-class>RemoveFarmer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveFarmer</servlet-name>
<url-pattern>/RemoveFarmer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FarmerAddCrop</servlet-name>
<servlet-class>FarmerAddCrop</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FarmerAddCrop</servlet-name>
<url-pattern>/FarmerAddCrop</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditCrop</servlet-name>
<servlet-class>EditCrop</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EditCrop</servlet-name>
<url-pattern>/EditCrop</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditCrop1</servlet-name>
<servlet-class>EditCrop1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EditCrop1</servlet-name>
<url-pattern>/EditCrop1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveCrop</servlet-name>
<servlet-class>RemoveCrop</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveCrop</servlet-name>
<url-pattern>/RemoveCrop</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserSelectCrop</servlet-name>
<servlet-class>UserSelectCrop</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserSelectCrop</servlet-name>
<url-pattern>/UserSelectCrop</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserSelectCrop1</servlet-name>
<servlet-class>UserSelectCrop1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserSelectCrop1</servlet-name>
<url-pattern>/UserSelectCrop1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RemoveVeg</servlet-name>
<servlet-class>RemoveVeg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveVeg</servlet-name>
<url-pattern>/RemoveVeg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CheckOut</servlet-name>
<servlet-class>CheckOut</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CheckOut</servlet-name>
<url-pattern>/CheckOut</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminAddPrice</servlet-name>
<servlet-class>AdminAddPrice</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminAddPrice</servlet-name>
<url-pattern>/AdminAddPrice</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BargainAccept</servlet-name>
<servlet-class>BargainAccept</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BargainAccept</servlet-name>
<url-pattern>/BargainAccept</url-pattern>
</servlet-mapping>
</web-app>